{{>header}}
<head>
  <link rel="stylesheet" href="/css/cards.css">
</head>
  <div class="contain">
  <!-- <div class="titll" style="padding: 25px;">Junior Web Team</div> -->
  <div class="box box1 mg">
    <div class="obox">
      <div  class="cardstyl">
        <img src="/images/amico.svg" class=" styll" />
        <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="Web Development" name="category" type="submit">Web Development</button>
          </form>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>

      </div>
      <div  class="cardstyl">
        <img src="/images/hostel.svg" class="styll" >
        <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="Hostel" name="category" type="submit">Hostel</button>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>
      </div>
    </div>
    <div class="obox">
      <div  class="cardstyl">
        <img src="/images\bro.svg" class="styll">
        <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="Competitive Programming" name="category" type="submit">Competitive Programming</button>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>

      </div>
      <div  class="cardstyl">
        <img src="/images/cuate.svg" class="styll" />
        <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="App Development" name="category" type="submit">App Development</button>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>
      </div>
    </div>
  </div>
  <div class="box box2" style="padding-bottom: 100px">
    <div class="obox">
      <div  class="cardstyl">
        <img src="/images/Skull.svg" class=" styll" />
        <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="Machine Learning" name="category" type="submit">Machine Learning</button>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>

      </div>
      <div  class="cardstyl">
        <img src="/images/Artificial.svg" class=" styll" >
        <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="Artificial Intelligence" name="category" type="submit">Artificial Intelligence</button>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>
      </div>
    </div>
    <div class="obox">
      <div  class="cardstyl">
        <img src="/images/canteen.svg" class="styll">
         <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="Canteen" name="category" type="submit">Canteen</button>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>
      </div>
      <div  class="cardstyl">
        <img src="/images/pana.svg" class="styll" />
        <div class="tit" >
          <form action="/cards" method="POST">
          <button class="btn-success" value="Others" name="category" type="submit">Others</button>
          <!-- <h5 class=" tit" style="text-align: center">Hostel</h5> -->
        </div>
      </div>
    </div>
  </div>
  {{>footer}}

